html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.logo-image {
    width: 240px;
    height: 140px;
}

.background {
    background-color: #f8f9fa;
}

.smaller-link {
    font-size: 0.8em;
}

.line {
    width: 140px;
    height: 2px;
    background-color: #ffffff;
    margin: 0 10px;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #24277F 0%, #059fff 90%);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.filter-section {
    overflow-y: auto;
    height: 100%;
}

.vertical-line {
    width: 1px;
    background-color: #ddd;
    height: 100%;
}

.custom-size {
    width: 350px;
    height: 100px;
    font-size: 100px;
    display: block;
    transition: all 0.3s ease-in-out;
    margin: 5px;
    border-radius: 5px;
}

.custom-size:hover {
    background-color: #017BFF;
    transform: scale(1.015);
}

.welcome-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-section:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.btn-info {
    background-color: #059fff !important;
    border-color: #059fff !important;
}

.stats-box {
    background-color: #ffffff;
    overflow-y: auto;
    border-radius: 4px;
    padding: 10px 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    height: 100%;
    margin: 7px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats-box-rank {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: #fdca00;
    overflow-y: auto;
    border-radius: 4px;
    padding: 10px 20px;
    height: 100%;
    margin: 7px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats-image {
    width: 20px;
    height: auto;
    flex-shrink: 0;
}

.large-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid #ccc;
}

.form-check-label {
    margin-left: 10px;
    vertical-align: middle;
    line-height: 30px;
}

.stats-box h4 {
    margin: 0;
    color: #333;
    font-size: 20px;
}

.container {
    margin-top: 20px;
    overflow-y: auto;
}

/* Container for the fixed card */
.card-container {
    height: 100%;
}

/* Fixed card height and width */
.fixed-card {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Scrollable content within the card */
.scrollable-content {
    height:23rem; /* Adjust based on padding and other content */
    overflow-y: auto;
}

.vh-100 {
    height: auto !important;
}
