<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LeagueClientManager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('main.index') }}">Home</a>
            <a href="{{ url_for('auth.register') }}">Register</a>
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
        </nav>
    </header>
    <main>

    </main>
</body>
</html>

