{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="vh-100 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="font-weight-bold col-md-5" style="font-size: 80px;">
                <a href="{{ url_for('main.dashboard') }}">
                    <div class="btn">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </div>
                </a>
                Game
            </div>
            <div class="col-md-2 stats-box">
                    Blue Essence: {{ user_be }}
                    <img src="https://server.blix.gg/imgproxy/nP7l6vA2EI8fTz4xs51FwU7acvVmJx2yR-Fo_iUmeHI/rs:fit:260:260:0/g:no/aHR0cDovL21pbmlvOjkwMDAvaW1hZ2VzLzQxM2I0ZTQzNzFjYjQxYTliMzQwNDJhNTBmNDg4NjVhLnBuZw.webp"
                    alt="" class="stats-image">
            </div>
            <div class="col-md-2 stats-box">
                Rank Points: {{ user_rank_points }}
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(255, 223, 13);"></i>
            
            </div>
            <div class="col-md-2 stats-box {{user_rank}} ">
                Rank: {{ user_rank }}
            </div>
        </div>
    
    <div class="row align-items-center mt-4 mb-4">
        <div class="col-md-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <h4 class="mb-3">Item Selection</h4>
                    <a class="nav-link active" id="v-pills-champion-tab" data-toggle="pill" href="#v-pills-champion" role="tab" aria-controls="v-pills-champion" aria-selected="true">
                        Champion
                        <i id="champion-check-icon" class="fas fa-check" style="display: none;"></i> <!-- FontAwesome icon -->
                    </a>
                    <a class="nav-link" id="v-pills-skins-tab" data-toggle="pill" href="#v-pills-skins" role="tab" aria-controls="v-pills-skins" aria-selected="false">
                        Skin
                        <i id="skin-check-icon" class="fas fa-check" style="display: none;"></i> <!-- FontAwesome icon -->
                    </a>
                    <a class="nav-link" id="v-pills-wards-tab" data-toggle="pill" href="#v-pills-wards" role="tab" aria-controls="v-pills-wards" aria-selected="false">
                        Ward
                        <i id="ward-check-icon" class="fas fa-check" style="display: none;"></i> <!-- FontAwesome icon -->

                    </a>
                    <a class="mt-5" id="v-pills-game-tab" data-toggle="pill" href="#v-pills-game" role="tab" aria-controls="v-pills-game-tab" aria-selected="false">
                        <button id="startGameButton" class="btn btn-danger" disabled style="width: 100%; height: 100%;">Confirm</button>
                    </a>
                </div>
        </div>
        <div class="col-md-10">
            <div class="shadow-sm rounded-lg w-100 card-container">
                <div class="row h-100">
                    <div class="col-md-12">
                        <div class="tab-content h-100" id="v-pills-tabContent">
                            <div class="tab-pane fade show active h-100" id="v-pills-champion" role="tabpanel" aria-labelledby="v-pills-champion-tab">
                                <div class="card h-100 fixed-card">
                                    <div class="row h-100">
                                        <div class="col-md-3 filter-section p-5">
                                            <h5 class="pb-2">Filters</h5>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input large-checkbox" type="checkbox" value="" id="alphabeticalFilter">
                                                <label class="form-check-label" for="alphabeticalFilter">Alphabetical</label>
                                            </div>
                                            <div class="form-group pt-3">
                                                <label for="kingdomFilter">Kingdom:</label>
                                                <select class="form-control" id="kingdomFilter">
                                                    <option value="all">All</option>
                                                    <option value="Demacia">Demacia</option>
                                                    <option value="Noxus">Noxus</option>
                                                    <option value="Ionia">Ionia</option>
                                                    <option value="Freljord">Freljord</option>
                                                    <option value="Targon">Targon</option>
                                                    <option value="Bilgewater">Bilgewater</option>
                                                    <option value="Shadow Isles">Shadow Isles</option>
                                                    <option value="Shurima">Shurima</option>
                                                    <option value="Zaun">Zaun</option>
                                                    <option value="Piltover">Piltover</option>
                                                </select>
                                            </div>
                                            <div class="form-group pt-2">
                                                <label for="categoryFilter">Category:</label>
                                                <select class="form-control" id="categoryFilter">
                                                    <option value="all">All</option>
                                                    <option value="Tank">Tank</option>
                                                    <option value="Fighter">Fighter</option>
                                                    <option value="Mage">Mage</option>
                                                    <option value="Assassin">Assassin</option>
                                                    <option value="Marksman">Marksman</option>
                                                    <option value="Support">Support</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-9 p-3" style="border-left: 1px solid #ddd;">
                                            <div class="row scrollable-content">
                                                <div class="row scrollable-content p-3">
                                                    {% for champion in champions %}
                                                    <div class="col-md-4">
                                                        <div class="mb-3 selectable-card d-flex flex-column justify-content-between">
                                                            <input type="checkbox" class="card-checkbox" name="champion" value="{{ champion.ID }}" id="champ-{{ champion.ID }}" hidden>
                                                            <label for="champ-{{ champion.ID }}" class="card-body">
                                                                <h5 class="card-title font-weight-bold">{{ champion.Name }}</h5>
                                                                <p class="card-text">Category: {{ champion.Category }}</p>
                                                                <p class="card-text">Kingdom: {{ champion.Kingdom }}</p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade h-100" id="v-pills-skins" role="tabpanel" aria-labelledby="v-pills-skins-tab">
                                <div class="card h-100 fixed-card">
                                    <div class="row h-100">
                                        <div class="col-md-3 filter-section p-5">
                                            <h5 class="pb-2">Filters</h5>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input large-checkbox" type="checkbox" value="" id="alphabeticalFilter">
                                                <label class="form-check-label" for="alphabeticalFilter">Alphabetical</label>
                                            </div>
                                            <div class="form-group pt-3">
                                                <label for="championFilter">Champion:</label>
                                                <select class="form-control" id="championFilter">
                                                    <option value="all">All</option>
                                                    <option value="garen">garen</option>
                                                    <option value="darius">darius</option>
                                                    <option value="ashe">ashe</option>
                                                    <option value="lux">lux</option>
                                                    <option value="zed">zed</option>
                                                    <option value="ahri">ahri</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-9 p-3" style="border-left: 1px solid #ddd;">
                                            <div class="row scrollable-content" id="skins-display-area">
                                                <div style="text-align: center; width: 100%; height: 100%; align-items: center; height: 100%; display: flex; justify-content: center;">
                                                    <p style="font-size: large; color: red;"> You must select a champion first.</p>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade h-100" id="v-pills-wards" role="tabpanel" aria-labelledby="v-pills-wards-tab">
                                
                                <div class="card h-100 fixed-card">
                                    <div class="row h-100">
                                        <div class="col-md-3 filter-section p-5">
                                            <h5 class="pb-2">Filters</h5>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input large-checkbox" type="checkbox" value="" id="alphabeticalFilter">
                                                <label class="form-check-label" for="alphabeticalFilter">Alphabetical</label>
                                            </div>
                                            <div class="form-group pt-3">
                                                <label for="kingdomFilter">Kingdom:</label>
                                                <select class="form-control" id="kingdomFilter">
                                                    <option value="all">All</option>
                                                    <option value="Demacia">Demacia</option>
                                                    <option value="Noxus">Noxus</option>
                                                    <option value="Ionia">Ionia</option>
                                                    <option value="Freljord">Freljord</option>
                                                    <option value="Targon">Targon</option>
                                                    <option value="Bilgewater">Bilgewater</option>
                                                    <option value="Shadow Isles">Shadow Isles</option>
                                                    <option value="Shurima">Shurima</option>
                                                    <option value="Zaun">Zaun</option>
                                                    <option value="Piltover">Piltover</option>
                                                </select>
                                            </div>
                                            <div class="form-group pt-2">
                                                <label for="categoryFilter">Category:</label>
                                                <select class="form-control" id="categoryFilter">
                                                    <option value="all">All</option>
                                                    <option value="Tank">Tank</option>
                                                    <option value="Fighter">Fighter</option>
                                                    <option value="Mage">Mage</option>
                                                    <option value="Assassin">Assassin</option>
                                                    <option value="Marksman">Marksman</option>
                                                    <option value="Support">Support</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-9 p-3" style="border-left: 1px solid #ddd;">
                                            <div class="row scrollable-content">
                                                <div class="row scrollable-content ml-3">
                                                    {% for ward in wards %}
                                                    <div class="col-md-4">
                                                        <div class="mb-3 selectable-card">
                                                            <input type="checkbox" class="card-checkbox" name="ward" value="{{ ward.ID }}" id="ward-{{ ward.ID }}" hidden>
                                                            <label for="ward-{{ ward.ID }}" class="card-body">
                                                                <h5 class="card-title font-weight-bold">{{ ward.ward }}</h5>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade h-100" id="v-pills-game" role="tabpanel" aria-labelledby="v-pills-game-tab">
                                
                                <div class="card h-100 fixed-card">
                                    <div class="row h-100">
                                        <div class="col-md-3 filter-section p-5">
                                            
                                            <h5 class="font-weight-bold" style="font-size: medium;">Selections:</h5>
                                            <div style="font-size: 15px;">
                                                <p id="game-champion">Champion: None</p>
                                                <p id="game-skin">Skin: None</p>
                                                <p id="game-ward">Ward: None</p>
                                            </div>

                                            <form action="" type="submit">
                                                <div class="form-group">
                                                    <label for="mapSelect" class="font-weight-bold">Map</label>
                                                    <select class="form-control" id="mapSelect" name="map" style="font-size: 13px;">
                                                        {% for map in maps %}
                                                            <option value="{{ map[0] }}">{{ map[1] }} </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </form> 

                                            <div class="btn btn-primary id="startGameButton" onclick="startGame()"> Start Game</div>

                                        </div>
                                        <div class="col-md-9 p-3" style="border-left: 1px solid #ddd;">
                                            <div class="row scrollable-content" class="d-flex flex-column" style="margin: 0; height: 100%; justify-content: center; text-align: center; align-items: center;">
                                                    <!-- Loader Element -->
                                                    <div>
                                                        <div id="loader" style="display: none;" class="loader"></div>

                                                        <!-- Game Result Display -->
                                                        <div id="game-result" style="display: none;">
                                                            <p id="game-result-detail"></p>

                                                            <div class="btn btn-outline-info" id="claim-button">Claim</div>
                                                        </div>
                                                     </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="vertical-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    // Function to handle checkbox changes
    function handleCheckboxChange(checkboxes, iconId) {
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                // Reset other checkboxes
                checkboxes.forEach(box => {
                    if (box !== this) {
                        box.checked = false;
                    }
                });
                // Toggle icon visibility
                const icon = document.getElementById(iconId);
                if (this.checked) {
                    icon.style.display = 'inline';
                } else {
                    // Check if any checkbox is still checked; if not, hide the icon
                    const anyChecked = Array.from(checkboxes).some(c => c.checked);
                    if (!anyChecked) {
                        icon.style.display = 'none';
                    }
                }
            });
        });
        
    }

    // Initialize functionality for champions, skins, and wards
    const championCheckboxes = document.querySelectorAll('input[name="champion"]');
    const skinCheckboxes = document.querySelectorAll('input[name="skin"]');
    const wardCheckboxes = document.querySelectorAll('input[name="ward"]');
    handleCheckboxChange(championCheckboxes, 'champion-check-icon');
    handleCheckboxChange(skinCheckboxes, 'skin-check-icon');
    handleCheckboxChange(wardCheckboxes, 'ward-check-icon');

});



    document.addEventListener('DOMContentLoaded', function() {
    const championCheckboxes = document.querySelectorAll('input[name="champion"]');

    championCheckboxes.forEach(checkbox => {
        checkbox.addEventListener('change', async function() {
            const skinsDisplayArea = document.getElementById('skins-display-area');
            const checkIcon = document.getElementById('champion-check-icon'); // Get the check icon element
            skinsDisplayArea.innerHTML = ''; // Clear the area when a new champion is selected

            // Update the check icon visibility
            if (this.checked) {
                checkIcon.style.display = 'inline'; // Show the check icon
                try {
                    const response = await fetch(`/selectSkin/${this.value}`);
                    if (!response.ok) {
                        throw new Error('Failed to fetch skins');
                    }
                    const skins = await response.json();

                    if (skins.length === 0) {
                        skinsDisplayArea.innerHTML = `<div style="text-align: center; width: 100%; height: 100%; align-items: center; height: 100%; display: flex; justify-content: center;">
                                                        <p style="font-size: large;"> You have no skins of this champion.</p>
                                                    </div>`;
                    } else {
                        skins.forEach(skin => {
                            const skinDiv = document.createElement('div');
                            skinDiv.className = 'col-md-4 mb-3'; 
                            const cardHtml = `
                                <div class="selectable-card">
                                    <input type="checkbox" class="card-checkbox" name="skin" value="${skin.id}" id="skin-${skin.id}" hidden>
                                    <label for="skin-${skin.id}" class="card-body">
                                        <h5 class="card-title font-weight-bold">${skin.skin_name}</h5>
                                        <p class="card-text">Champion: ${skin.champion_name}</p>
                                    </label>
                                </div>
                            `;
                            skinDiv.innerHTML = cardHtml;
                            skinsDisplayArea.appendChild(skinDiv);
                        });

                    }
                } catch (error) {
                    console.error('Error fetching skins:', error);
                    skinsDisplayArea.innerHTML = '<p>Error loading skins. Please try again later.</p>';
                }
            } else {
                checkIcon.style.display = 'none'; // Hide the check icon if unchecked
            }
        });
    });
});

document.addEventListener('DOMContentLoaded', function() {
    const container = document.getElementById('skins-display-area'); // Static parent

    container.addEventListener('change', function(event) {
        const target = event.target;
        if (target.type === 'checkbox' && target.name === 'skin') {
            // Reset all checkboxes for skins
            document.querySelectorAll('input[name="skin"]').forEach(chk => {
                if (chk !== target) chk.checked = false;
            });

            // Toggle the check icon based on whether any skin checkbox is checked
            const skinCheckIcon = document.getElementById('skin-check-icon');
            const anyChecked = Array.from(document.querySelectorAll('input[name="skin"]')).some(chk => chk.checked);
            skinCheckIcon.style.display = anyChecked ? 'inline' : 'none';
        }
    });
});

document.addEventListener('DOMContentLoaded', function() {
    const startGameButton = document.querySelector('button#startGameButton');
    const championCheckboxes = document.querySelectorAll('input[name="champion"]');
    const skinCheckboxes = document.querySelectorAll('input[name="skin"]');
    const wardCheckboxes = document.querySelectorAll('input[name="ward"]');

    function updateStartButtonState() {
        const isChampionSelected = Array.from(championCheckboxes).some(chk => chk.checked);
        const isWardSelected = Array.from(wardCheckboxes).some(chk => chk.checked);
        startGameButton.disabled = !(isChampionSelected && isWardSelected);
    }

    startGameButton.addEventListener('click', function() {
        const selectedChampion = document.querySelector('input[name="champion"]:checked');
        const selectedSkin = document.querySelector('input[name="skin"]:checked');
        const selectedWard = document.querySelector('input[name="ward"]:checked');

        document.getElementById('game-champion').textContent = `Champion: ${selectedChampion ? selectedChampion.nextElementSibling.querySelector('h5').textContent.trim() : 'None'}`;
        document.getElementById('game-skin').textContent = `Skin: ${selectedSkin ? selectedSkin.nextElementSibling.querySelector('h5').textContent.trim() : 'Default'}`;
        document.getElementById('game-ward').textContent = `Ward: ${selectedWard ? selectedWard.nextElementSibling.textContent.trim() : 'None'}`;

        // Optionally switch to the game tab automatically
        $('#v-pills-game-tab').tab('show');  // This requires jQuery
    });

    championCheckboxes.forEach(checkbox => checkbox.addEventListener('change', updateStartButtonState));
    skinCheckboxes.forEach(checkbox => checkbox.addEventListener('change', updateStartButtonState));
    wardCheckboxes.forEach(checkbox => checkbox.addEventListener('change', updateStartButtonState));
});


function startGame() {
    const loader = document.getElementById('loader');
    const gameResultDiv = document.getElementById('game-result');
    const gameResultDetail = document.getElementById('game-result-detail');
    const mapSelect = document.getElementById('mapSelect');
    const selectedChampion = document.querySelector('input[name="champion"]:checked');
    const selectedSkin = document.querySelector('input[name="skin"]:checked');
    const selectedWard = document.querySelector('input[name="ward"]:checked');

    // Prepare data to send
    const data = {
        champion_id: selectedChampion ? selectedChampion.value : null,
        skin_id: selectedSkin ? selectedSkin.value : null,
        ward_id: selectedWard ? selectedWard.value : null,
        map_id: mapSelect.value
    };

    // Show loader
    gameResultDiv.style.display = 'none';
    loader.style.display = 'block';

    setTimeout(() => {  // This setTimeout is for simulation purposes, replace it with your fetch call
        loader.style.display = 'none';
        gameResultDiv.style.display = 'block';
        // Handle showing results here


        fetch('/game', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(data)
    }).then(response => response.json())
    .then(data => {
        // Hide loader
        loader.style.display = 'none';
        if (data.status === "success") {
            // Display game results
            gameResultDetail.innerHTML = `<h1><span class="font-weight-bold">${data.game.Result} </span></h1>Duration: ${data.game.Duration} minutes<br>Outcome RP: ${data.game.Outcome_RP}<br>Outcome BE: ${data.game.Outcome_BE}`;
            gameResultDiv.style.display = 'block';
        } else {
            alert("Error: " + data.message);
        }
    }).catch(error => {
        console.error('Error starting game:', error);
        loader.style.display = 'none'; // Hide loader on error
        alert('Failed to start game.');
    });
    }, 2000);

}

document.addEventListener('DOMContentLoaded', function() {
    const claimButton = document.getElementById('claim-button');
    if (claimButton) {
        claimButton.addEventListener('click', function() {
            window.location.reload(); // Refresh the page
        });
    }
});

document.addEventListener('DOMContentLoaded', function() {
    var rankDiv = document.querySelector('.stats-box');

    if (rankDiv) {
        var rank = rankDiv.getAttribute('data-rank');

        if (rank) {
            var rankClass = rank;
            rankDiv.classList.add(rankClass);
        }
    }
});


</script>
    
{% endblock %}

