{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="vh-100 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="font-weight-bold col-md-5" style="font-size: 80px;">
                <a href="{{ url_for('main.dashboard') }}">
                    <div class="btn">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </div>
                </a>
                Game
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2 stats-box">
                Rank Points: {{ user_rank_points }}
            </div>
            <div class="col-md-2 stats-box-rank">
                Rank: Unranked
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/764bbd9c-6d80-481d-8136-96848f01e843/ddx6pbw-df50a375-a9ab-4ab9-acea-281c6ceab93f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc2NGJiZDljLTZkODAtNDgxZC04MTM2LTk2ODQ4ZjAxZTg0M1wvZGR4NnBidy1kZjUwYTM3NS1hOWFiLTRhYjktYWNlYS0yODFjNmNlYWI5M2YucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.UfunOvrkALQ0M1Aqb5Dxjh4Pap3JX906ptJFVLldlLA" class="stats-image" alt="">
            </div>
        </div>
    
    <div class="row align-items-center mb-5">
        <div class="col-md-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <h4 class="mb-3">Item Selection</h4>
                    <a class="nav-link active" id="v-pills-champion-tab" data-toggle="pill" href="#v-pills-champion" role="tab" aria-controls="v-pills-champion" aria-selected="true">Champion</a>
                    <a class="nav-link" id="v-pills-skins-tab" data-toggle="pill" href="#v-pills-skins" role="tab" aria-controls="v-pills-skins" aria-selected="false">Skin</a>
                    <a class="nav-link" id="v-pills-wards-tab" data-toggle="pill" href="#v-pills-wards" role="tab" aria-controls="v-pills-wards" aria-selected="false">Ward</a>
                    <button class="btn btn-danger mt-5 shadow-lg">Start Game</button>
            </div>
        </div>
        <div class="col-md-10">
            <div class="shadow-sm rounded-lg w-100 card-container">
                <div class="row h-100">
                    <div class="col-md-12">
                        <div class="tab-content h-100" id="v-pills-tabContent">
                            <div class="tab-pane fade show active h-100" id="v-pills-champion" role="tabpanel" aria-labelledby="v-pills-champion-tab">
                                <div class="card h-100 fixed-card">
                                    <div class="row h-100">
                                        <div class="col-md-3 filter-section p-5">
                                            <h5 class="pb-2">Filters</h5>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input large-checkbox" type="checkbox" value="" id="alphabeticalFilter">
                                                <label class="form-check-label" for="alphabeticalFilter">Alphabetical</label>
                                            </div>
                                            <div class="form-group pt-3">
                                                <label for="kingdomFilter">Kingdom:</label>
                                                <select class="form-control" id="kingdomFilter">
                                                    <option value="all">All</option>
                                                    <option value="Demacia">Demacia</option>
                                                    <option value="Noxus">Noxus</option>
                                                    <option value="Ionia">Ionia</option>
                                                    <option value="Freljord">Freljord</option>
                                                    <option value="Targon">Targon</option>
                                                    <option value="Bilgewater">Bilgewater</option>
                                                    <option value="Shadow Isles">Shadow Isles</option>
                                                    <option value="Shurima">Shurima</option>
                                                    <option value="Zaun">Zaun</option>
                                                    <option value="Piltover">Piltover</option>
                                                </select>
                                            </div>
                                            <div class="form-group pt-2">
                                                <label for="categoryFilter">Category:</label>
                                                <select class="form-control" id="categoryFilter">
                                                    <option value="all">All</option>
                                                    <option value="Tank">Tank</option>
                                                    <option value="Fighter">Fighter</option>
                                                    <option value="Mage">Mage</option>
                                                    <option value="Assassin">Assassin</option>
                                                    <option value="Marksman">Marksman</option>
                                                    <option value="Support">Support</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-9 p-3" style="border-left: 1px solid #ddd;">
                                            <div class="row scrollable-content2">
                                            {% for champion in champions %}
                                            <div class="col-md-4">
                                                <div class="card mb-3">
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{ champion.Name }}</h5>
                                                        <p class="card-text">Category: {{ champion.Category }}</p>
                                                        <p class="card-text">Kingdom: {{ champion.Kingdom }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade h-100" id="v-pills-skins" role="tabpanel" aria-labelledby="v-pills-skins-tab">
                                <div class="card h-100 fixed-card">
                                    <div class="row h-100">
                                        <div class="col-md-3 filter-section p-5">
                                            <h5 class="pb-2">Filters</h5>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input large-checkbox" type="checkbox" value="" id="alphabeticalFilter">
                                                <label class="form-check-label" for="alphabeticalFilter">Alphabetical</label>
                                            </div>
                                            <div class="form-group pt-3">
                                                <label for="championFilter">Champion:</label>
                                                <select class="form-control" id="championFilter">
                                                    <option value="all">All</option>
                                                    <option value="garen">garen</option>
                                                    <option value="darius">darius</option>
                                                    <option value="ashe">ashe</option>
                                                    <option value="lux">lux</option>
                                                    <option value="zed">zed</option>
                                                    <option value="ahri">ahri</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-9 p-3" style="border-left: 1px solid #ddd;">
                                            <!-- <div class="row scrollable-content">
                                                {% for skin in skins %}
                                                                                                   
                                                {% endfor %}
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade h-100" id="v-pills-chests" role="tabpanel" aria-labelledby="v-pills-chests-tab">
                                <!-- Chests content here -->
                            </div>
                            <div class="tab-pane fade h-100" id="v-pills-wards" role="tabpanel" aria-labelledby="v-pills-wards-tab">
                                <!-- Wards content here -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="vertical-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}

