{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="vh-100 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="font-weight-bold col-md-4" style="font-size: 80px">
                <a href="{{ url_for('main.dashboard') }}">
                    <div class="btn">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </div>
                </a>
                Profile
            </div>
            <div class="col-md-2 stats-box">
                Blue Essence: {{ user_be }}
                <img src="https://server.blix.gg/imgproxy/nP7l6vA2EI8fTz4xs51FwU7acvVmJx2yR-Fo_iUmeHI/rs:fit:260:260:0/g:no/aHR0cDovL21pbmlvOjkwMDAvaW1hZ2VzLzQxM2I0ZTQzNzFjYjQxYTliMzQwNDJhNTBmNDg4NjVhLnBuZw.webp"
                    alt="" class="stats-image">
            </div>
            <div class="col-md-2 stats-box">
                Riot Points: {{ user_rp }}
                <img src="https://www.nicepng.com/png/full/17-174865_free-lol-riot-points-riot-points.png"
                    class="stats-image" alt="">
            </div>
            <div class="col-md-2 stats-box {{user_rank}}">
                Rank: {{ user_rank }}
            </div>
            <div class="btn btn-danger col-md-1 stats-box" id="logoutButton" style="width: 100px">
                Logout
            </div>
        </div>
        <div class="row align-items-center mb-5">
            <div class="col-md-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <h4 class="mb-3">Inventory</h4>
                    <a class="nav-link active" id="v-pills-champion-tab" data-toggle="pill" href="#v-pills-champion"
                        role="tab" aria-controls="v-pills-champion" aria-selected="true">Champion</a>
                    <a class="nav-link" id="v-pills-skins-tab" data-toggle="pill" href="#v-pills-skins" role="tab"
                        aria-controls="v-pills-skins" aria-selected="false">Skins</a>
                    <a class="nav-link" id="v-pills-wards-tab" data-toggle="pill" href="#v-pills-wards" role="tab"
                        aria-controls="v-pills-wards" aria-selected="false">Wards</a>
                    <a class="nav-link" id="v-pills-chests-tab" data-toggle="pill" href="#v-pills-chests" role="tab"
                        aria-controls="v-pills-chests" aria-selected="false">Chests</a>
                    <h4 class="mb-3 mt-3">History</h4>
                    <a class="nav-link " href="#v-pills-gameHistory" data-toggle="pill" id="v-pills-gameHistory-tab" role="tab" aria-controls="v-pills-gameHistory">Match</a>
                    <a class="nav-link" href="#v-pills-purchaseHistory" data-toggle="pill" id="v-pills-purchaseHistory-tab" role="tab" aria-controls="v-pills-purchaseHistory" >Purchase</a>
                </div>
            </div>
            
            <div class="col-md-10">
                <div class="shadow-sm rounded-lg w-100 card-container">
                    <div class="row h-100">
                        <div class="col-md-12">
                            <div class="tab-content h-100" id="v-pills-tabContent">
                                <div class="tab-pane fade show active h-100" id="v-pills-champion" role="tabpanel" aria-labelledby="v-pills-champion-tab">
                                    <div class="card h-100 fixed-card">
                                        <div class="row h-100">
                                            <div class="col-md-3 filter-section p-5">
                                                <form hx-get="/filter_data?type=Champion" hx-target="#champion-list" >
                                                    <h5 class="pb-2">Filters</h5>
                                                    <input type="checkbox" class="form-check-input large-checkbox ml-0" name="alphabetical" id="alphabeticalFilterChampion">
                                                    <label class="form-check-label pl-4" for="alphabeticalFilterChampion">Alphabetical</label>
                                                    <div class="form-group pt-3">
                                                        <label for="kingdomFilterChampion">Kingdom:</label>
                                                        <select class="form-control" id="kingdomFilterChampion" name="kingdom"> 
                                                            <option value="all">All</option>
                                                            <option value="Demacia">Demacia</option>
                                                            <option value="Noxus">Noxus</option>
                                                            <option value="Ionia">Ionia</option>
                                                            <option value="Freljord">Freljord</option>
                                                            <option value="Targon">Targon</option>
                                                            <option value="Bilgewater">Bilgewater</option>
                                                            <option value="Shadow Isles">Shadow Isles</option>
                                                            <option value="Shurima">Shurima</option>
                                                            <option value="Zaun">Zaun</option>
                                                            <option value="Piltover">Piltover</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group pt-2">
                                                        <label for="categoryFilterChampion">Category:</label>
                                                        <select class="form-control" id="categoryFilterChampion" name="category">
                                                            <option value="all">All</option>
                                                            <option value="Tank">Tank</option>
                                                            <option value="Fighter">Fighter</option>
                                                            <option value="Mage">Mage</option>
                                                            <option value="Assassin">Assassin</option>
                                                            <option value="Marksman">Marksman</option>
                                                            <option value="Support">Support</option>
                                                        </select>
                                                    </div>
                                                    <input type="submit" value="Apply">
                                                </div>   
                                            </form>
                                            <div class="col-md-9 p-3" style="border-left: 1px solid #ddd;">
                                                <div id="champion-list" class="row scrollable-content">
                                                    {% for champion in champions %}
                                                    <div class="col-md-4">
                                                        <div class="card mb-3">
                                                            <div class="card-body">
                                                                <h5 class="card-title font-weight-bold">{{ champion.Name }}</h5>
                                                                <p class="card-text">Category: {{ champion.Category }}</p>
                                                                <p class="card-text">Kingdom: {{ champion.Kingdom }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade h-100" id="v-pills-skins" role="tabpanel" aria-labelledby="v-pills-skins-tab">
                                    <div class="card h-100 fixed-card">
                                        <div class="row h-100">
                                            <div class="col-md-3 filter-section p-5">
                                                <form hx-get="/filter_data?type=Skin" hx-target="#skin-list">
                                                    <h5 class="pb-2">Filters</h5>
                                                    <input type="checkbox" class="form-check-input large-checkbox ml-0" name="alphabetical" id="alphabeticalFilterSkin">
                                                    <label class="form-check-label pl-4" for="alphabeticalFilterSkin">Alphabetical</label>
                                                    <div class="form-group pt-3">
                                                        <label for="championFilterSkin">Champion:</label>
                                                        <select class="form-control" name="kingdom" id="championFilterSkin">
                                                            <option value="all">All</option>
                                                            {% for champion in champions %}
                                                            <option value="{{ champion.Name }}">{{ champion.Name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    <input type="submit" value="Apply" class="mt-4">
                                                    </div> 
                                                </form>
                                            </div>
                                            <div class="col-md-9 p-3" style="border-left: 1px solid #ddd;">
                                                <div class="row scrollable-content" id="skin-list">
                                                    {% for skin in skins %}
                                                    <div class="col-md-4">
                                                        <div class="card mb-3">
                                                            <div class="card-body">
                                                                <h5 class="card-title font-weight-bold">{{ skin.skin }}</h5>
                                                                <p class="card-text">Champion: {{ skin.championName }}</p>
                                                            </div>
                                                        </div>
                                                    </div>                                               
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade h-100" id="v-pills-chests" role="tabpanel" aria-labelledby="v-pills-chests-tab">
                                    <div class="card h-100 fixed-card">
                                        <div class="row h-100">
                                            <div class="col-md-9 pl-5 pt-4 style="border-left: 1px solid #ddd;">
                                                <div class="row scrollable-content">
                                                    {% if chest_quantities.chestsSkin_qty > 0 %}
                                                    <div class="col-md-4">
                                                        <div class="card mb-3">
                                                            <div class="card-body">
                                                                <h5 class="card-title font-weight-bold">Skin Chests</h5>
                                                                <p>Qty: {{ chest_quantities.chestsSkin_qty }}</p>
                                                                <button class="btn btn-primary" onclick="openChest('Skin')">Open</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                    {% if chest_quantities.chestsChampion_qty > 0 %}
                                                    <div class="col-md-4">
                                                        <div class="card mb-3">
                                                            <div class="card-body">
                                                                <h5 class="card-title font-weight-bold">Champion Chests</h5>
                                                                <p>Qty: {{ chest_quantities.chestsChampion_qty }}</p>
                                                                <button class="btn btn-primary" onclick="openChest('Champion')">Open</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                    {% if chest_quantities.chestsWard_qty > 0 %}
                                                    <div class="col-md-4">
                                                        <div class="card mb-3">
                                                            <div class="card-body">
                                                                <h5 class="card-title font-weight-bold">Ward Chests</h5>
                                                                <p>Qty: {{ chest_quantities.chestsWard_qty }}</p>
                                                                <button class="btn btn-primary" onclick="openChest('Ward')">Open</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                               
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade h-100" id="v-pills-wards" role="tabpanel" aria-labelledby="v-pills-wards-tab">
                                    <div class="card h-100 fixed-card">
                                        <div class="row h-100">
                                            <div class="col-md-3 filter-section p-5">
                                                <form hx-get="/filter_data?type=Ward" hx-target="#ward-list">
                                                    <h5 class="pb-2">Filters</h5>
                                                    <input type="checkbox" class="form-check-input large-checkbox ml-0" name="alphabetical" id="alphabeticalFilterWard">
                                                    <label class="form-check-label pl-4" for="alphabeticalFilterWard">Alphabetical</label>
                                                    <input type="submit" value="Apply" class="mt-4">
                                                </form>
                                            </div>
                                            <div class="col-md-9 p-3" style="border-left: 1px solid #ddd;">
                                                <div class="row scrollable-content" id="ward-list">
                                                    {% for ward in wards %}
                                                    <div class="col-md-4">
                                                        <div class="card mb-3">
                                                            <div class="card-body">
                                                                <h5 class="card-title font-weight-bold">{{ ward.ward }}</h5>
                                                            </div>
                                                        </div>
                                                    </div>                                               
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-gameHistory" role="tabpanel" aria-labelledby="v-pills-gameHistory-tab">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Map</th>
                                                <th>Duration</th>
                                                <th>Result</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for game in game_history %}
                                            <tr>
                                                <td>{{ game.Data }}</td>
                                                <td>{{ game.Hora }}</td>
                                                <td>{{ game.MapName }}</td>
                                                <td>{{ game.Duration }} minutes</td>
                                                <td>{{ game.Result }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div class="tab-pane fade h-100" id="v-pills-purchaseHistory" role="tabpanel" aria-labelledby="v-pills-purchaseHistory-tab">

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Hour</th>
                                                <th>Item Type</th>
                                                <th>Name</th>
                                            </tr>
                                        </thead>
                                        <div class="scrollable-table">
                                            <tbody>
                                                {% for purchase in purchase_history %}
                                                <tr>
                                                    <td>{{ purchase.Data }}</td>
                                                    <td>{{ purchase.Hora }}</td>
                                                    <td>{{ purchase.Type }}</td>
                                                    <td>{{ purchase.Name }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </div>
                                    </table>
                                </div>
                                
                                
                        </div>
                        <div class="col-md-1">
                            <div class="vertical-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("logoutButton").addEventListener("click", function() {
        fetch('/logout')
            .then(response => {
                if (response.ok) {
                    window.location.href = '/login';
                } else {
                    alert('Logout failed');
                }
            });
    });

    function openChest(chestType) {
        fetch(`/open_chest/${chestType}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log("Response data:", data);
            alert(data.message);
            if (data.status === 'success') {
                location.reload();  // Reload the page to update the inventory
            }
        })
        .catch(error => {
            console.error("Error during fetch:", error);
            alert("An error occurred while processing your request.");
        });
    }

</script>
{% endblock %}
