{% extends "base.html" %}

{% block title %}Store{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-5 font-weight-bold" style="font-size: 80px;">
            Store
        </div>
        <div class="col-md-2 stats-box">
            Blue Essence: {{ user_be }}
            <img src="https://server.blix.gg/imgproxy/nP7l6vA2EI8fTz4xs51FwU7acvVmJx2yR-Fo_iUmeHI/rs:fit:260:260:0/g:no/aHR0cDovL21pbmlvOjkwMDAvaW1hZ2VzLzQxM2I0ZTQzNzFjYjQxYTliMzQwNDJhNTBmNDg4NjVhLnBuZw.webp" alt="" class="stats-image">
        </div>
        <div class="col-md-2 stats-box">
            Riot Points: {{ user_rp }}
            <img src="https://www.nicepng.com/png/full/17-174865_free-lol-riot-points-riot-points.png" class="stats-image" alt="">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-champion-tab" data-toggle="pill" href="#v-pills-champion" role="tab" aria-controls="v-pills-champion" aria-selected="true">Champion</a>
                <a class="nav-link" id="v-pills-skins-tab" data-toggle="pill" href="#v-pills-skins" role="tab" aria-controls="v-pills-skins" aria-selected="false">Skins</a>
                <a class="nav-link" id="v-pills-chests-tab" data-toggle="pill" href="#v-pills-chests" role="tab" aria-controls="v-pills-chests" aria-selected="false">Chests</a>
                <a class="nav-link" id="v-pills-wards-tab" data-toggle="pill" href="#v-pills-wards" role="tab" aria-controls="v-pills-wards" aria-selected="false">Wards</a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-champion" role="tabpanel" aria-labelledby="v-pills-champion-tab">
                    <div class="filter-section p-3">
                        <h4 class="pb-2">Filters</h4>
                        <div class="form-check">
                            <input class="form-check-input large-checkbox" type="checkbox" value="" id="check1">
                            <label class="form-check-label" for="check1">
                                Owned
                            </label>
                        </div>
                        <div class="form-check pt-2">
                            <input class="form-check-input large-checkbox" type="checkbox" value="" id="check2">
                            <label class="form-check-label" for="check2">
                                Alphabetical
                            </label>
                        </div>
                        <div class="form-group pt-3">
                            <label for="kingdomFilter">Kingdom:</label>
                            <select class="form-control" id="kingdomFilter">
                                <option value="all">All</option>
                                <option value="demacia">Demacia</option>
                                <option value="noxus">Noxus</option>
                                <option value="freljord">Freljord</option>
                                <option value="ionia">Ionia</option>
                                <option value="bilgewater">Bilgewater</option>
                                <option value="shadowIsles">Shadow Isles</option>
                                <option value="shurima">Shurima</option>
                                <option value="targon">Targon</option>
                                <option value="zaun">Zaun</option>
                                <option value="piltover">Piltover</option>
                            </select>
                        </div>
                        <div class="form-group pt-2">
                            <label for="Category">Category:</label>
                            <select class="form-control" id="Category">
                                <option value="all">All</option>
                                <option value="tank">Tank</option>
                                <option value="fighter">Fighter</option>
                                <option value="mage">Mage</option>
                                <option value="assassin">Assassin</option>
                                <option value="marksman">Marksman</option>
                                <option value="support">Support</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        {% for champion in champions %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title">{{ champion.Name }}</h5>
                                    <p class="card-text">Price: {{ champion.BE_Price }} BE</p>
                                    <p class="card-text">Category: {{ champion.Category }}</p>
                                    <p class="card-text">Kingdom: {{ champion.Kingdom }}</p>
                                    <button class="btn btn-primary" onclick="buyChampion('{{ champion.ID_Item_Type }}', '{{ champion.BE_Price }}')">Buy</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-skins" role="tabpanel" aria-labelledby="v-pills-skins-tab">
                    <!-- Conteúdo da aba de skins -->
                </div>
                <div class="tab-pane fade" id="v-pills-chests" role="tabpanel" aria-labelledby="v-pills-chests-tab">
                    <!-- Conteúdo da aba de chests -->
                </div>
                <div class="tab-pane fade" id="v-pills-wards" role="tabpanel" aria-labelledby="v-pills-wards-tab">
                    <!-- Conteúdo da aba de wards -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function buyChampion(championId, bePrice) {
        fetch('/buy_champion', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ champion_id: championId, be_price: bePrice })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert(data.message);
                location.reload();
            } else {
                alert(data.message);
            }
        });
    }
</script>
{% endblock %}


