{% extends "base.html" %}

{% block title %}Store{% endblock %}

{% block content %}
<div class="vh-100 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row align-items-center pb-4">
            <div class="font-weight-bold col-md-5" style="font-size: 80px;">
                <a href="{{ url_for('main.dashboard') }}" >
                    <div class="btn">
                        <i class="fa fa-arrow-left" aria-hidden="true" ></i>
                    </div>
                </a>
                Store
            </div>
            <div class="col-md-2 stats-box">
                Blue Essence: {{user_be}}
                <img src="https://server.blix.gg/imgproxy/nP7l6vA2EI8fTz4xs51FwU7acvVmJx2yR-Fo_iUmeHI/rs:fit:260:260:0/g:no/aHR0cDovL21pbmlvOjkwMDAvaW1hZ2VzLzQxM2I0ZTQzNzFjYjQxYTliMzQwNDJhNTBmNDg4NjVhLnBuZw.webp"
                    alt="" class="stats-image">
            </div>
            <div class="col-md-2 stats-box">
                Riot Points: {{ user_rp }}
                <img src="https://www.nicepng.com/png/full/17-174865_free-lol-riot-points-riot-points.png"
                    class="stats-image" alt="">
            </div> 
            <div class="col-md-2">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    Buy RP
                </button>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Purchase RP</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Enter the amount of Riot Points you wish to purchase:</p>
                        <input type="number" class="form-control" id="rpAmount" placeholder="Enter amount">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="purchaseRP()">Purchase</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center mb-5">
            <div class="col-md-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <h4 class="mb-3">Purchase</h4>
                    <a class="nav-link active" id="v-pills-champion-tab" data-toggle="pill" href="#v-pills-champion"
                        role="tab" aria-controls="v-pills-champion" aria-selected="true">Champion</a>
                    <a class="nav-link" id="v-pills-skins-tab" data-toggle="pill" href="#v-pills-skins" role="tab"
                        aria-controls="v-pills-skins" aria-selected="false">Skins</a>
                    <a class="nav-link" id="v-pills-wards-tab" data-toggle="pill" href="#v-pills-wards" role="tab"
                        aria-controls="v-pills-wards" aria-selected="false">Wards</a>
                    <a class="nav-link" id="v-pills-chests-tab" data-toggle="pill" href="#v-pills-chests" role="tab"
                        aria-controls="v-pills-chests" aria-selected="false">Chests</a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="shadow-sm rounded-lg w-100 card-container">
                    <div class="row h-100">
                        <div class="col-md-12">
                            <div class="tab-content h-100" id="v-pills-tabContent">
                                <div class="tab-pane fade show active h-100" id="v-pills-champion" role="tabpanel" aria-labelledby="v-pills-champion-tab">
                                    <div class="card h-100 fixed-card">
                                        <div class="row h-100">
                                            <div class="col-md-3 filter-section p-5">
                                                <h5 class="pb-2">Filters</h5>
                                                <div class="form-check pt-2">
                                                    <input class="form-check-input large-checkbox" type="checkbox" value="" id="alphabeticalFilter">
                                                    <label class="form-check-label" for="alphabeticalFilter">Alphabetical</label>
                                                </div>
                                                <div class="form-group pt-3">
                                                    <label for="kingdomFilter">Kingdom:</label>
                                                    <select class="form-control" id="kingdomFilter">
                                                        <option value="all">All</option>
                                                        <option value="Demacia">Demacia</option>
                                                        <option value="Noxus">Noxus</option>
                                                        <option value="Ionia">Ionia</option>
                                                        <option value="Freljord">Freljord</option>
                                                        <option value="Targon">Targon</option>
                                                        <option value="Bilgewater">Bilgewater</option>
                                                        <option value="Shadow Isles">Shadow Isles</option>
                                                        <option value="Shurima">Shurima</option>
                                                        <option value="Zaun">Zaun</option>
                                                        <option value="Piltover">Piltover</option>
                                                    </select>
                                                </div>
                                                <div class="form-group pt-2">
                                                    <label for="categoryFilter">Category:</label>
                                                    <select class="form-control" id="categoryFilter">
                                                        <option value="all">All</option>
                                                        <option value="Tank">Tank</option>
                                                        <option value="Fighter">Fighter</option>
                                                        <option value="Mage">Mage</option>
                                                        <option value="Assassin">Assassin</option>
                                                        <option value="Marksman">Marksman</option>
                                                        <option value="Support">Support</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-9 p-3" style="border-left: 1px solid #ddd;">
                                                <div class="row scrollable-content">
                                                    {% for champion in champions %}
                                                    <div class="col-md-4">
                                                        <div class="card mb-3 shadow-sm">
                                                            <div class="card-body d-flex flex-column justify-content-between">
                                                                <div>
                                                                    <h5 class="card-title font-weight-bold">{{ champion.Name }}</h5>
                                                                    <p class="card-text" style="margin-bottom: 0.2rem;">Category: {{ champion.Category }}</p>
                                                                    <p class="card-text" style="margin-bottom: 1rem;">Kingdom: {{ champion.Kingdom }}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center">
                                                                    <p class="card-text mb-0" style="font-size: small;">Price: {{ champion.BE_Price }}<img src="https://server.blix.gg/imgproxy/nP7l6vA2EI8fTz4xs51FwU7acvVmJx2yR-Fo_iUmeHI/rs:fit:260:260:0/g:no/aHR0cDovL21pbmlvOjkwMDAvaW1hZ2VzLzQxM2I0ZTQzNzFjYjQxYTliMzQwNDJhNTBmNDg4NjVhLnBuZw.webp"
                                                                        alt="" class="stats-image"></p>
                                                                    <button class="btn btn-primary" onclick="buyChampion('{{ champion.ID }}','{{champion.BE_Price}}')">Buy</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade h-100" id="v-pills-skins" role="tabpanel" aria-labelledby="v-pills-skins-tab">
                                    <div class="card h-100 fixed-card">
                                        <div class="row h-100">
                                            <div class="col-md-3 filter-section p-5">
                                                <h5 class="pb-2">Filters</h5>
                                                <div class="form-check pt-2">
                                                    <input class="form-check-input large-checkbox" type="checkbox" value="" id="alphabeticalFilter">
                                                    <label class="form-check-label" for="alphabeticalFilter">Alphabetical</label>
                                                </div>
                                                <div class="form-group pt-3">
                                                    <label for="championFilter">Champion:</label>
                                                    <select class="form-control" id="championFilter">
                                                        <option value="all">All</option>
                                                        <option value="garen">garen</option>
                                                        <option value="darius">darius</option>
                                                        <option value="ashe">ashe</option>
                                                        <option value="lux">lux</option>
                                                        <option value="zed">zed</option>
                                                        <option value="ahri">ahri</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-9 p-3" style="border-left: 1px solid #ddd;">
                                                <div class="row scrollable-content">
                                                    {% for skin in skins %}
                                                    <div class="col-md-4">
                                                        <div class="card mb-3 shadow-sm">
                                                            <div class="card-body d-flex flex-column justify-content-between">
                                                                <div>
                                                                    <h5 class="card-title font-weight-bold">{{ skin.skin }}</h5>
                                                                    <p class="card-text" style="margin-bottom: 1rem;">Champion: {{ skin.champion }}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center">
                                                                    <p class="card-text mb-0" style="font-size: small;">Price: {{ skin.rp_price }} <img src="https://www.nicepng.com/png/full/17-174865_free-lol-riot-points-riot-points.png" class="stats-image" alt=""></p>
                                                                    <button class="btn btn-primary" onclick="buySkin('{{ skin.id }}', '{{ skin.rp_price }}')">Buy</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                    
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade h-100" id="v-pills-chests" role="tabpanel" aria-labelledby="v-pills-chests-tab">
                                    <!-- Chests content here -->
                                </div>
                                <div class="tab-pane fade h-100" id="v-pills-wards" role="tabpanel" aria-labelledby="v-pills-wards-tab">
                                    <!-- Wards content here -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="vertical-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

